* {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  color: white !important;
  border-bottom: white solid 1px;
}
.navbar-nav a {
  transition: all 0.5s ease !important;
}

.navbar-nav a:hover {
  padding: 20px;
  background: grey;
}

.navbar {
  background: black;
}

.carousel-item {
  height: 500px;

  color: white;
  background: bl;
}

.iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.map-responsive iframe * {
  display: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.card {
  justify-content: center;
  text-align: center;
  background-color: black;
  box-shadow: 20px 20px 45px rgba(0, 0, 0, 5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgbs(0, 0, 0, 0.5);
  border-end-start-radius: 2em;
  border-start-end-radius: 2em;
}

.content {
  padding: 10px;
  transition: 0.5s;
  transform: translateY(200px);
  opacity: 0;
  color: white;
}

.card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}

.quick-link li a {
  color: azure;
}

.quick-link li a:hover {
  color: green;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.overlay-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}

.travel {
  position: relative;
}

.travel span {
  position: relative;
  display: inline-block;
  font-size: 1em;
  animation: animate 3s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

.footerclass {
  background: black;
}

.aboutus {
  font-size: 8em;
}

.wrapper .button {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin: 0 5px;
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  color: black;
}

.wrapper .button .icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 30px;
}

.wrapper .button:hover {
  width: 100px;
}

.wrapper .button .icon .i {
  font-size: 15px;
  line-height: 30px;
}

.wrapper .button .span {
  font-size: 10px;
  font-weight: 500px;
  line-height: 30px;
  margin-left: 10px;
}

.ani {
  position: relative;
  top: -50px;
}

.c1 {
  position: absolute;
}

.ani .c1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.25px skyblue;
}

.ani .c1:nth-child(2) {
  color: skyblue;

  animation: water 3s ease-in-out infinite;
}

@keyframes water {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      18% 47%,
      35% 53%,
      51% 61%,
      69% 59%,
      85% 54%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 59%,
      19% 65%,
      40% 66%,
      58% 55%,
      74% 48%,
      88% 47%,
      100% 49%,
      100% 100%,
      0% 100%
    );
  }
}
